<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn" internalLogToConsole="true" internalLogToConsoleError="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value=".\log\appcontract\${shortdate}"/>

  <!-- write to file with exception -->
  <targets>
    <default-target-parameters xsi:type="File"
      layout="${longdate},[${level}],${aspnet-mvc-controller} - ${aspnet-mvc-action},${aspnet-request-url}${newline}Message: ${message}${newline}Exception: ${exception:format=tostring}${newline}" >
    </default-target-parameters>
    <target xsi:type="File" name="fatal" fileName="${logDirectory}\fatal.log" />
    <target xsi:type="File" name="error" fileName="${logDirectory}\error.log" />
    <target xsi:type="File" name="warn" fileName="${logDirectory}\warn.log" />
  </targets>

  <!-- write to file no exception -->
  <targets>
    <default-target-parameters xsi:type="File"
      layout="${longdate},[${level}],${aspnet-mvc-controller} - ${aspnet-mvc-action},${aspnet-request-url}${newline}Message: ${message}${newline}" >
    </default-target-parameters>
    <target xsi:type="File" name="http" fileName="${logDirectory}\http.log" />
    <target xsi:type="File" name="info" fileName="${logDirectory}\info.log" />
    <target xsi:type="File" name="debug" fileName="${logDirectory}\debug.log" />
    <target xsi:type="File" name="event" fileName="${logDirectory}\event_${hostname}.log" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- write to network -->
  <targets>
    <target name="network" xsi:type="Network" address="udp://127.0.0.1:4561">
      <layout xsi:type="JsonLayout">
        <attribute name="app" layout="appcontract" />
        <attribute name="@timestamp" layout="${date:format=o}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="level" layout="${level}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="ip" layout="${aspnet-request-ip}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="statuscode" layout="${aspnet-response-statuscode}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.Hosting*" minlevel="Info" maxLevel="Info" writeTo="http" final="true" enabled="true" />
    <logger name="*" level="Fatal" writeTo="fatal" enabled="true"/>
    <logger name="*" level="Error" writeTo="error" enabled="true"/>
    <logger name="*" level="Warn" writeTo="warn" enabled="true"/>
    <logger name="*" level="Info" writeTo="info" enabled="true"/>
    <logger name="*" level="Debug" writeTo="debug" enabled="true"/>
    <logger name="*" minlevel="Info" maxLevel="Fatal" writeTo="network" enabled="true"/>
    <logger name="AC.ServiceAPI.Filters.EventLogAttribute*" minlevel="Info" maxLevel="Info" writeTo="event" />
  </rules>
</nlog>